* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Times New Roman, Courier;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

body{
    text-align: center;
    color: black;
    background-image: url('imagenes/WizardTower.jpg');
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 11fr auto;
}

/* Cabeza de Página */

header{
    background-color:black;
    padding: 1em;
}

/* Barra de navegación */
.barra__navegación{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.barra__navegación span{
    flex-grow: 1;
    text-align: center;
    align-content: center;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Cuerpo principal */

main{
    grid-template-columns: auto;
}


.logo{
    width: 1.5em;
    height: 1em;
}

.media__logo{
    height: 1em;
    width: 1em;
}

.bienvenida{
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 3fr 5fr 1fr;
    gap: 1em;
    padding: 1em;
    align-items:last baseline
}

button{
    background-color: black;
    cursor: pointer;
    margin: 0.5em;
}

/* Pie de página */

footer{
    display: flex;
    align-items: center;
    text-align: center;
    color:aliceblue;
    background-color: black;
    font-size: 0.75em;
    padding: 1em;
}

