* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Times New Roman, Courier;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

body{
    text-align: center;
    color: black;
    background-image: url('imagenes/WizardTower.jpg');
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 1fr 10fr 0.5fr;
}

header{
    background-color:black;
    padding: 1em;
}

main{
    grid-template-columns: auto;
}

.barra__navegación{
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}


.logo{
    width: 1.5em;
    height: 1em;
}

.media__logo{
    height: 1em;
    width: 1em;
}

.bienvenida{
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 3fr 5fr 1fr;
    gap: 1em;
    padding: 1em;
    align-items:last baseline
}


ul{
    list-style: none;
}

button{
    background-color: black;
    cursor: pointer;
    margin: 0.5em;
}

footer{
    text-align: center;
    color:aliceblue;
    background-color: black;
    font-size: 0.75em;
    padding: 1em;
}

