/* Pagina raiz. Importa: */
/*Estilos en el Main (dentro del Body)*/
@import url(main.css);
/*Header y barra de navegación*/
@import url(header__y__nav.css);
/*Formulario*/
@import url(formulario__contacto.css);
/*Main dentro de Body*/
@import url(main.css);




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Times New Roman, Courier;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

html, body {
    height: 100%;
}

body {
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;

}

.logo {
    width: 1.5em;
    height: 1em;
}

.media__logo {
    height: 1em;
    width: 1em;
}




/* Pie de página */

footer {
    display: flex;
    align-items: center;
    text-align: center;
    color: aliceblue;
    background-color: black;
    font-size: 0.75em;
    padding: 1em;
}

