/* Pagina raiz. Importa: */
/*Estilos en el Main (dentro del Body)*/
@import url(main.css);
/*Header y barra de navegación*/
@import url(header__y__nav.css);
/*Formulario*/
@import url(formulario__contacto.css);
/*Main dentro de Body*/
@import url(main.css);
/*Footer*/
@import url(footer.css);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Times New Roman, Courier;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

html, body {
    height: 100%;
}

body {
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /*No usar "justify-content: center;" hace que aparezcan barras blancas a los costados (Centra los objetos pero no rellena)*/
}

.logo {
    width: 1.5em;
    height: 1em;
}

.media__logo {
    height: 1em;
    width: 1em;
}





