/*Main dentro de Body*/
@import url(main.css);
form{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input, textarea {
    width: 70vw;
    min-width: 10em;
    background-color: black;
}

textarea{
    min-height: 10em;
} 